<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8">
    <title>Note Taker</title>
    <input id = "noteId" name="noteId" type="hidden">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
          <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
          <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-jgrowl/1.4.6/jquery.jgrowl.min.css">
          <!-- <link rel="stylesheet" href="./styles/note-taker.css"> -->
  
          <link rel="shortcut icon" href="">
<style>
body, html {
  height: 100%;
}

.parallax {
  /* The image used */
  background-image: url('https://images.unsplash.com/photo-1494267661104-3a7c223fb743?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1333&q=80');

  /* Full height */
  height: 10%; 

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
</style>
</head>
<body>

<div class="parallax"></div>

<div style="height: 58%;
background-image: url('https://images.unsplash.com/photo-1452421822248-d4c2b47f0c81?ixlib=rb-1.2.1&auto=format&fit=crop&w=1934&q=80');
font-size:34px; color:rgb(249, 249, 249)">
  <!DOCTYPE html>
  <html>
      <body>
          <!-- Place your content here -->
          <div style="opacity: .9" id="noteTaker" class="container-fluid">
            <div class="page-header">
              <h1 style="font-family:futura;">Travel Journal</h1>
            </div>
            <div class="row">
              <div class="col-xs-3 col-sm-3 col-md-2 sidebar">
                <ol id = "note-list">
                   
                  <!-- <li v-for="note-in-notes"><a href="#" v-on:click="openNote(note.id, note.title, note.body)"> Notes </a> </li> -->
                </ol>
              </div>

              <li><a href="about.html">About Me</a></li>

              <div class="col-sm-11 col-md-10">
                <div class="input-group input-group-lg col-sm-6 col-md-9">
                  <input type="text" class="form-control" id="note-title" placeholder="What's on your mind?" aria-describedby="Enter a note title." v-model="noteTitle">
                </div>
  
                <br/>
  
                <div class="input-group col-sm-9 col-md-11">
                  <textarea class="form-control" id="note-body" rows="10" placeholder="Please explain..." v-model="noteBody"></textarea>
                </div>
  
                <br/>
  
                <button type="button" class="btn btn-default btn-md btn-primary" id="save" v-on:click="addNote">
                    <span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span> &nbsp SAVE NEW
                </button>
  
                <button type="button" class="btn btn-default btn-md btn-success" id="update" v-if="editingNote" v-on:click="updateNote">
                    <span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span> &nbsp UPDATE EXISTING
                </button>
  
                <button type="button" class="btn btn-default btn-md btn-danger" id="delete" v-if="editingNote" v-on:click="deleteNote('', '')">
                    <span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span> &nbsp DELETE
                </button>

                <button type="button" class="btn btn-default btn-md btn-danger" id="display1" v-if="editingNote" v-on:click="displayNote('', '')">
                  <span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span> &nbsp DISPLAY1
                </button>

                <button type="button" class="btn btn-default btn-md btn-danger" id="display2" v-if="editingNote" v-on:click="displayNote('', '')">
                 <span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span> &nbsp DISPLAY2
                </button>

                <button type="button" class="btn btn-default btn-md btn-danger" id="sort_button" v-if="sort_note" v-on:click="displayNote('', '')">
                    <span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span> &nbsp Sort
                   </button>

                   <!-- <button type="button" class="btn btn-default btn-md btn-danger" id="about_me" v-if="about_me" v-on:click="displayNote('', '')">
                    <span class="glyphicon glyphicon-floppy-disk" aria-hidden="true"></span> &nbsp About Me
                   </button> -->
                   
                <br/><br/><br/>
                </button>
              </div>
            </div> <!-- end row -->
          </div> <!-- end fluid container -->
  
          <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
          <script src="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.3.1/js/foundation.min.js"></script>
          <script src="https://cdn.jsdelivr.net/npm/vue"></script>
          <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-jgrowl/1.4.6/jquery.jgrowl.min.js"></script>
  
          <script type="text/javascript">
          </script>
      </body>
  </html>
</div>

<div class="parallax"></div>


<div class="parallax"></div>  
<div style="height: 70%;
background-image: url('https://images.unsplash.com/photo-1542445696-7bdecdd1ea09?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2686&q=70');
font-size:36px">

  <!DOCTYPE html>
  <html>
      <head >
        <h1 id="display1h" style="padding: 0; font-family:futura; text-align:center; font-size:160%; margin:0" >Title</h1>
        <p id="display1p" style="text-align:center; margin-left: 100px; margin-right: 100px; font-family: Helvetica;">
          Where did you go recently? Have you traveled to a new country or explored a new city? Share the story, and when ready, press on Display1.
        </p>
        
          <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
          <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
          <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-jgrowl/1.4.6/jquery.jgrowl.min.css">
          <!-- <link rel="stylesheet" href="./styles/note-taker.css"> -->
  
          <link rel="shortcut icon" href="">
      </head>
      <body>
          <!-- Place content here -->
          <div style="opacity: .9" id="flightInfo" class="container-fluid2">
            
              </div>
            </div> <!-- end row -->
          </div> 
          <script src="src/index.js" charset="utf-8"></script>
  
          <script type="text/javascript">
            // $.jGrowl.defaults.closer = false;
          </script>
      </body>
  </html>
</div>

<div class="parallax"></div>

<!-- Third Page -->
<!-- //////////////////////// -->

  

<div class="parallax"></div>
<!-- second showpage -->
<div style="height: 70%;
background-image: url('https://images.unsplash.com/photo-1439736383274-62b5e45798c9?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2560&q=100');
font-size:36px">

  <!DOCTYPE html>
  <html>
      <head >
        <h1 id="display2h" style="padding: 0; font-family:futura; text-align:center; font-size:160%; margin:0" >Title</h1>
        <p id="display2p" style="text-align:center; margin-left: 100px; margin-right: 100px; font-family: Helvetica;">
          Where did you go recently? Have you traveled to a new country or explored a new city? Share the story, and when ready, press on Display2.
        </p>
        
          <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
          <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
          <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-jgrowl/1.4.6/jquery.jgrowl.min.css">
          <!-- <link rel="stylesheet" href="./styles/note-taker.css"> -->
  
          <link rel="shortcut icon" href="">
      </head>
      <body>
          <!-- Place your content here -->
          <div style="opacity: .9" id="food" class="container-fluid3">
            
              </div>
            </div> <!-- end row -->
          </div> <!-- end fluid container -->
  
          <!-- SCRIPTS -->
          <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
          <script src="https://cdnjs.cloudflare.com/ajax/libs/foundation/6.3.1/js/foundation.min.js"></script>
          <script src="https://cdn.jsdelivr.net/npm/vue"></script>
          <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-jgrowl/1.4.6/jquery.jgrowl.min.js"></script> -->
          <script src="src/index.js" charset="utf-8"></script>
  
          <script type="text/javascript">
            $.jGrowl.defaults.closer = false;
          </script>
      </body>
  </html>
</div>
<div class="parallax"></div>



